GCP_PROJECT_ID
GCP_REGION

# GKE Settings
GKE_CLUSTER_NAME
GKE_NODE_POOL_NAME
GKE_NAMESPACE
GCP_SERVICE_ACCOUNT_ID
GKE_NODE_POOL_NAME
GCP_NETWORK_NAME
GCP_SUBNETWORK_NAME
GCP_SUBNETWORK_CIDR_RANGE
GCP_ROUTER_NAME
GCP_ROUTER_NAT_NAME


GCP_NAT_SOURCE_IP_RANGES=["ALL_IP_RANGES"]

# Docker Settings
DOCKER_IMAGE

# API Settings
API_PORT


# Terraform Settings
TF_STATE_BUCKET
TF_STATE_REGION

# NAT Gateway Settings
NAT_GATEWAY_NAME

# Firewall Rule Settings
FIREWALL_RULE_NAME
FIREWALL_RULE_PORT

# Monitoring and Alerting Settings
MONITORING_PROJECT_ID
MONITORING_REGION
ALERTING_EMAIL

# CI/CD Pipeline Settings
GITHUB_WORKFLOW_FILE=.github/workflows/deploy.yml

K8S_NAMESPACE_NAME
K8S_DEPLOYMENT_NAME
K8S_REPLICAS
K8S_APP_NAME
K8S_CONTAINER_IMAGE
K8S_CONTAINER_NAME
K8S_CONTAINER_PORT
K8S_SERVICE_NAME
K8S_SERVICE_PORT
K8S_SERVICE_TARGET_PORT

GCP_FIREWALL_NAME
GCP_FIREWALL_PROTOCOLS (e.g. ["tcp", "http"])
GCP_FIREWALL_PORTS (e.g. ["80", "7080"])
GCP_FIREWALL_SOURCE_TAGS (e.g. ["web"])

GOOGLE_ORG_ID
GOOGLE_IAM_ROLE=roles/editor
GOOGLE_IAM_MEMBER=user:jane@example.com

PORT